:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --task-bar-white: rgba(255, 255, 255, 0.63);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

@font-face {
  font-family: 'Jersey';
  src: local('Jersey'), url(./assets/fonts/Jersey10-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MS-Sans-Serif';
  src: local('MS-Sans-Serif'), url(./assets/fonts/ms-sans-serif-1.ttf) format('truetype');
}

@font-face {
  font-family: 'MS-Sans-Serif-Bold';
  src: local('MS-Sans-Serif-Bold'), url(./assets/fonts/ms-sans-serif-b.ttf) format('truetype');
}